
/* background */
body {
    background-image: url("assets/imagescsstraining/sky-1.jpg");
    background-size: cover;
   }

/* service title */
.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: initial;
}

/* cards */
.cards {
    margin-left: 35px;
}

.card-img-top {
    height: 200px;
    width: 100%;
}

.card-title {
    color:black;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    font-family: initial;
}

.card-text {
    color: rgb(99, 99, 99);
    margin-left: 12px;
    font-size: 15px;
    text-align: center;
    font-family: initial;
}

a.btn.name {
    align-content: center;
    background-color: rgb(209, 207, 207);
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: initial;
}

/*  */
.hover-state {
    text-align: center;
    font-size: 15px;
}
.hover-state:hover {
    color: gainsboro;
    background-color: transparent;
}
a.visited-state:visited {
    color: palevioletred;
}

 /*  */
.tip {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: initial;

}
#p1 {
    font-size: 15px;
    text-align: right;
}
#p2 {
    font-size: 15px;
    text-align: left;
}



