.flower-image{
    background-image: url(../images/purpleflower.jpg);
}
.section {
    width: 80%;
    display: block;
    margin: 0 auto;
    outline: 1px solid gray;
    margin-top: 15px;
    height: 200px;
    background-color: white;
    color: white;
}

/* pic blocks */
.cloud-image {
    background-image: url(../images/clouds.JPG);
}
.singflower-image {
    background-image: url(../images/singflower.JPG);
}
.branches-image {
    background-image: url(../images/branch.JPG);
}
.lemon-image {
    background-image: url(../images/lemons.JPG);
}
.edge-image {
    background-image: url(../images/edge-16.JPG);
}
.fruit-image {
    background-image: url(../images/fruit.jpg);
}
.different {
    background-color: white;
    outline: 2px dashed green;
}

.text-background {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


/* positioning example */
.fixed {
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: burlywood;
  }
  .wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  .relative {
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: brown;
  }
  .absolute {
    right: 30px;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }

.hover-state {
    text-align: center;
}
.hover-state:hover {
    color:black;
    background-color: white;
    border-radius: 3px;
    border-color: white;  
}

a.visited-state:visited {
    color: darkgreen;
}

.container {
    color: white;
}

.container-fluid {
    text-align: center;
    color: white;
}

div.col-sm-3 {
    height: 200px;
    background-color:mediumturquoise;
    text-decoration: white;
}

div.col-sm-4 {
    height: 200px;
    background-color: gray;
    text-decoration: white
}

div.col-sm-5 {
    height: 200px;
    background-color: darkgreen;
    text-decoration: white
}
.flex-display {
    display: flex;
    background-color: silver;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;


