
/* nav */
.navBG {
    background-color: rgb(225, 201, 170)!important;
}
.navBG span.navbar-toggler-icon > i {
    color: white;
    font-size: 30px;
}
.navBG >a.navbar-brand:hover {
    color: white;
}
.navBG li {
    margin-right: 20px;
}
.navBG li > a:hover {
    color: palevioletred;
    text-decoration: dashed;
    font-weight: bold;
    transform: scale(1);
}
.navBG a {
    background-color:  rgb(225, 201, 170);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.dropdown-item {
    color: palevioletred;
}

#H4H {
    font-weight: bolder;
   }

.customNavBg a {
    background-color: burlywood;
    color: white;
}