/**
 * Float Layout Activity
 **/
 * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: Roboto, sans-serif;
  }
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    font-family: "Roboto Slab", sans-serif;
    padding: 10px;
  }
  section {
    margin-bottom: 20px;
  }
  #sidebar {
    background:plum;
    height: 300px;
    padding: 10px;
    width: 15%;
    float: left;
    color: white;
  }
  #largeContent {
    width: 85%;
    height: 300px;
    background-color: #e08918;
    float: left;
    padding: 10px;
    color: white;
  }
  #left {
    width: 25%;
    padding: 10px;
    height: 400px;
    color: #fff;
    background: red;
    float: left;
    text-align: center;
  }
  #middle {
    width: 25%;
    padding: 10px;
    height: 400px;
    color: white;
    background: lightseagreen;
    float: left;
    text-align: center;
  }
  #right {
    padding: 10px;
    background: #666;
    height: 400px;
    color: white;
    text-align: center;
  }
  footer {
    padding: 10px;
    background: burlywood;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 75px;
    text-align: center;
    color: white;
  }