/**
 * Float Layout Activity
 **/

/* background */
body {
  background-color: rgb(222, 222, 222);
  background-size: cover;
}

#sidebar {
  height: 225px;
  background-color: #bc7171;
  color: white;
  font-family: initial;
  text-align: left;
  margin-top:15px;
}

#largebar {
  height: 125px;
  background-color: #d7d7d7;
  padding: 10px;
  font-family: initial;
  color: white;
  text-align: center;
}

#afterpc {
  opacity: 80%;
}

/* circle images */
#one {
  width: 20%;
  padding: 5px;
  height: 500px;
  color: #fff;
  float: left;
  text-align: center;
}

#two {
  width: 20%;
  padding: 5px;
  height: 500px;
  color: white;
  float: left;
  text-align: center;
}

#three {
  width: 20%;
  padding: 5px;
  height: 500px;
  color: white;
  float: left;
  text-align: center;
}

#four {
  width: 20%;
  padding: 5px;
  height: 500px;
  color: white;
  float: left;
  text-align: center;
}

/* <!-- bootstrap grid excercise --> */
.container {
  margin: 20px;
}

div.col-sm-6 {
  height: 200px;
  background-color: mediumturquoise;
  text-decoration: white;
}


#box {
  margin-left: 70px;
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgb(215, 191, 160);
  border: dashed;
  border-color: black;
  opacity: 90%;
  border-width: 1px;
  padding: 5px;
}

/*appt  */
.hover-state {
  text-align: center;
  font-size: 15px;
}
.hover-state:hover {
  color: gainsboro;
  background-color: transparent;
}
a.visited-state:visited {
  color: palevioletred;
}