/**
 * Float Layout Activity
 **/

/* background */
body {
  background-color: rgb(222, 222, 222);
  background-size: cover;
}

#largebar {
  padding: 10px;
  font-family: initial;
  color: white;
  text-align: center;
}

#afterpc {
  opacity: 80%;
}

/* container */

#price {
  font-size: 20px;
}

.fill {
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

#LR {
  font-weight: bold;
  margin-bottom: 20px;
}

/* <!-- bootstrap grid excercise --> */
.container {
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
}

div.col-sm-6 {
  background-color: black;
  color: white;
}

#box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(215, 191, 160);
  border: dashed;
  border-color: black;
  opacity: 90%;
  border-width: 1px;
  padding: 5px;
}

/*appt  */
.hover-state {
  text-align: center;
  font-size: 15px;
}

.hover-state:hover {
  color: gainsboro;
  background-color: transparent;
}

a.visited-state:visited {
  color: palevioletred;
}