#backpic{
    background-color: white;
    background-image: url("../images/purpleflower.JPG");
    background-size: cover;
}

#title {
    text-align: center;
    font-family: 'Times New Roman';
    font-style: inherit;
    font-stretch: semi-expanded;
    color: white;  
    text-decoration: underline; 
    text-decoration-style: dotted;
    padding: 20px;   
}

/* pic blocks */
.s1{
    background-image: url(../imagescsstraining/service\ 1\ copy.JPG);
    height: 300px;
}
.s2{
    background-image: url(../imagescsstraining/service\ 2\ copy.JPG);
    height: 300px;
}
.s3{
    background-image: url(../imagescsstraining/service\ 3\ copy.JPG);
    height: 300px;
}
.s4 {
    background-image: url(../imagescsstraining/service\ 4\ copy.jpg);
    height: 300px;
}

.p {
    text-align: center;
    font-family: 'Times New Roman';
    font-style: inherit;
    color: white;
}

.navBG span.navbar-toggler-icon > i.fas.fa-bars {
    color: white;
    font-size: 30px;
}


.sectionPC hr {
    border: 2px solid white;
    width: 30%
}
hr {
    box-sizing: content-box;
    line-height: 1.5;
    text-decoration-line: underline;
    overflow: visible;
    color: white;   
}

#PC {
    color: white;
    text-align: center;
    font-family: 'Times New Roman';

}
.img { 
    border-radius: 50%;
    border-width: 4px;
    border-color: white;
    border: dotted;
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
}

#subt{
    font-family: 'Times New Roman';
    font-style: inherit;
    font-size: large;
    color: white;
    font-stretch: semi-expanded;
    margin: 10px;
}
.intro {
    margin: 10px;
    color: white;
    font-family: 'Times New Roman';
}
#firstbox {
    width: 200px;
    height: 100px;
    background-color: tan;
    border: dashed; 
    border-color: black;
    padding: 5px;
    margin: 10px;
}

#secondbox {
    width: 200px;
    height: 100px;
    background-color: tan;
    border: dashed;
    border-color: black;
    padding: 5px;
    margin: 10px;
}

